<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      LogEnabled:
      true - log enabled
      false - log disabled
    -->
    <add key="LogEnabled" value="true" />

    <!-- 
      key="LogLevel[.module[.class]]" value="<value>"
      <value>:
        Off:      -
        Error:    Error
        Warning:  Error | Warning
        Info:     Error | Warning | Info
        Verbose:  Error | Warning | Info | Verbose
    -->
    <add key="LogLevel" value="Error" />
    <add key="LogLevel.XmpSample" value="Off" />
    <add key="LogLevel.CsXmpToolkit" value="Verbose" />
  </appSettings>
</configuration>