<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultMediaFile" value="Medias/Grid1000x1000.jpg"/>
    <add key="CameraFieldOfView" value="90"/>
    <add key="MouseSensitivity" value="1"/>
    <add key="CustomPincushionFactor" value="5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
