<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SamplesFolder" value="Medias/Samples/"/>
    <add key="CameraFieldOfView" value="90"/>
    <add key="MouseSensitivity" value="1"/>
    <add key="CustomPincushionFactor" value="5"/>
    <add key="DepthMapMaxOffset" value="0.04"/>
    <add key="ColorKeyAlphaColor" value="#00FF00"/>
    <add key="ColorKeyTolerance" value="0.5"/>
    <add key="OrientationRefreshRateInMS" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
