<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VrPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--General-->
    <add key="CameraFieldOfView" value="110"/>
    <add key="ViewportsHorizontalOffset" value="64"/>
    <add key="ViewportsVerticalOffset" value="0"/>
    <add key="SamplesFolder" value="Samples"/>
    <add key="NeckHeight" value="0"/>
    <add key="ReadSideCarPresets" value="true"/>
    <!-- Plugins -->
    <add key="DefaultMedia" value="VrPlayer.Medias.WpfMediaKit"/>
    <add key="DefaultEffect" value="VrPlayer.Effects.NoEffect"/>
    <add key="DefaultDistortion" value="VrPlayer.Distortions.Barrel"/>
    <add key="DefaultProjection" value="VrPlayer.Projections.Plane"/>
    <add key="DefaultTracker" value="VrPlayer.Trackers.MouseTracker"/>
    <add key="DefaultStabilizer" value="VrPlayer.Stabilizers.NoStabilizer"/>
  </appSettings>
  <userSettings>
    <VrPlayer.Properties.Settings>
      <setting name="Medias" serializeAs="String">
        <value />
      </setting>
      <setting name="Projections" serializeAs="String">
        <value />
      </setting>
      <setting name="Effects" serializeAs="String">
        <value />
      </setting>
      <setting name="Distortions" serializeAs="String">
        <value />
      </setting>
      <setting name="Trackers" serializeAs="String">
        <value />
      </setting>
      <setting name="Stabilizers" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentMedia" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentProjection" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentEffect" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDistortion" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentTracker" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentStabilizer" serializeAs="String">
        <value />
      </setting>
      <setting name="LayoutMode" serializeAs="String">
        <value>SideBySide</value>
      </setting>
      <setting name="StereoMode" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldOfView" serializeAs="String">
        <value />
      </setting>
      <setting name="VerticalOffset" serializeAs="String">
        <value />
      </setting>
      <setting name="HorizontalOffset" serializeAs="String">
        <value />
      </setting>
      <setting name="Samples" serializeAs="String">
        <value />
      </setting>
      <setting name="Shortcuts" serializeAs="String">
        <value />
      </setting>
      <setting name="NeckHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="ReadSideCarPresets" serializeAs="String">
        <value />
      </setting>
    </VrPlayer.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
